* {
  box-sizing: border-box;
}

form {
  border: 1px solid #ddd;
  margin: auto;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
}
form div {
  padding: 3px;
}
form textarea {
  height: 100px;
}
form input,
form textarea {
  width: 100%;
  border: 1px solid #888;
}

form button {
  width: 50%;
  display: block;
  margin: auto;
  font-size: 1.1rem;
  pad: 5px;
}
form label {
  font-size: 0.9rem;
  padding: 3px 0;
  color: #222;
}
